
    <div class="songs mb-4">
        <h2 class="mb-1">Recently Played</h2>
        <div class="d-flex flex-wrap">
        <div class="card" *ngFor="let tracks of myRecent">
            <img class="card-img-top" [src]="tracks.track.album.images[0].url" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title">{{tracks.track.album.name}}</h3>
                <p class="card-text">{{tracks.track.artists[0].name}}</p>
            </div>
        </div>
    </div>
    </div>
