
    <div class="songs mb-4">
        <h2 class="mb-1">Workout</h2>
        <div class="d-flex flex-wrap">
        <div class="card" *ngFor="let workout of workOut[0]">
            <img class="card-img-top" [src]="workout.images[0].url" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{workout.name}}</h5>
                <p class="card-text">{{workout.description ? workout.description : "Songs that keeps your heart rate up"}}</p>
            </div>
        </div>
    </div>

