<div class="songs mb-4" [ngClass]="more ? 'show' : '__artists-container--hide'">
    <h2 class="d-inline mb-1">Workout</h2>

    <button mat-button class="btn-template search-section__btn" (click)="seeMoreRecentlyPlayed()" style="float:right;margin-right: 45px;color:white">See all</button>


    <div class="d-flex flex-wrap">
        <div class="card" *ngFor="let workout of workOut[0]">
            <img class="card-img-top" [src]="workout.images[0].url" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{workout.name}}</h5>
                <p class="card-text">{{workout.description ? workout.description : "Songs that keeps your heart rate
                    up"}}</p>
            </div>
        </div>
    </div>
    </div>

    <div class="songs mb-4" [ngClass]="more ? 'show' : '__artists-container--hide'">
        <h2 class="d-inline mb-1">Instrumental</h2>
        <button mat-button class="btn-template search-section__btn" (click)="seeMoreRecentlyPlayed()" style="float:right;margin-right: 45px;color:white;">See all</button>
        <div class="d-flex flex-wrap">
            <div class="card" *ngFor="let instrument of instrumental[0]">
                <img class="card-img-top" [src]="instrument.images[0].url" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{instrument.name}}</h5>
                    <p class="card-text">{{instrument.description ? instrument.description : "Songs that keeps your
                        heart rate up"}}</p>
                </div>
            </div>
        </div>
        </div>

        <div class="songs mb-4" [ngClass]="more ? 'show' : '__artists-container--hide'">

            <h2 class="d-inline mb-1">Chill</h2>
            <button mat-button class="btn-template search-section__btn" (click)="seeMoreRecentlyPlayed()" style="float:right;margin-right: 45px;color:white;">See all</button>
            <div class="d-flex flex-wrap">
                <div class="card" *ngFor="let chill of Chillout[0]">
                    <img class="card-img-top" [src]="chill.images[0].url" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{chill.name}}</h5>
                        <p class="card-text">{{chill.description ? chill.description : "Songs that keeps your heart rate up"}}</p>
                    </div>
                </div>
            </div>
            </div>