<div class="mb-4 searchpage">
    <div class="input-group ">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="What do you want to listen to?" aria-label="Search" class="searchinput" name="searchInput" [(ngModel)]="searchInput">
            <button mat-mini-fab class="searchbutton">
                <mat-icon>search</mat-icon>
            </button>
        </form>    
      </div>
      <div class="chips">
        <div class="example-button-row">
            <button mat-raised-button class="buttons" (click) ="onArtist()"  [ngStyle]="{'background-color':isartist === true ? 'white' : '','color':isartist === true ? 'black' : 'white'}">Artists</button>
            <button mat-raised-button color="primary" class="buttons" (click) ="onPlaylist()" [ngStyle]="{'background-color':isplaylist === true ? 'white' : '','color':isplaylist === true ? 'black' : 'white'}">Playlists</button>
            <button mat-raised-button color="primary" class="buttons" (click) ="onSongs()" [ngStyle]="{'background-color':issongs === true ? 'white' : '','color':issongs === true ? 'black' : 'white'}">Songs</button>
        </div>
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
</div>
