<div>
    <div class="logo">
        <img src="assets/img/logo3.png" alt="">
        <div class="heading">
            <h2>Sign up for free to start listening</h2>
        </div>
    </div>

    <div class="container">
        <div class="btn">
            <p>
                <button mat-flat-button class="facebook-btn">
                    <img src="assets\img\fb.png" alt="">SIGN UP WITH FACEBOOK
                </button>
            </p>
        </div><br/>
        <div class="btn">
            <p>
                <button mat-flat-button class="google-btn">
                    <img src="assets\img\gogl.jpg" alt="">SIGN UP WITH GOOGLE
                </button>
            </p>
        </div>
        <p>
            <span class="gray">-------------------------------------- or --------------------------------------</span>
        </p>
  

     <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="text-left">

            <p class="heading mb-0">Whats your email?</p>
            <mat-form-field class="mff-width pb-0" appearance="outline">
                <mat-label>Email your email</mat-label>
                <input matInput formControlName="userEmail">
            </mat-form-field>

            <p class="heading mb-0">Confirm your email</p>
            <mat-form-field class="mff-width" appearance="outline">
                <mat-label>Enter your email again.</mat-label>
                <input matInput formControlName="userConfirmEmail">
            </mat-form-field>

            <p class="heading mb-0">Create a password</p>
            <mat-form-field class="mff-width" appearance="outline">
                <mat-label>Create a password.</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>

            <p class="heading mb-0">What should we call you?</p>
            <mat-form-field class="mff-width" appearance="outline">
                <mat-label>Enter a profile name.</mat-label>
                <input matInput formControlName="userName">
            </mat-form-field>
            <p> This appears on your profile</p>

            <p class="heading mt-4 ">What's your date of birth?</p>
            <div class="d-flex" >
                <div>
                    <p class="mb-0">Year</p>
                    <mat-form-field class="year" appearance="outline">
                        <mat-label>YYYY</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <p class="mb-0">Month</p>
                    <mat-form-field class="month" appearance="outline">
                        <mat-label>Month</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div>
                    <p class="mb-0">Day</p>
                    <mat-form-field class="day" appearance="outline">
                        <mat-label>DD</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>

        </div>

        <div class="w">

            <div class="fsizesml mb-3">By clicking on Sign up, you agree to Spotify's <span class="cgrnuln"> Terms and
                    Conditions of Use.</span>
            </div>

            <div class="fsizesml mb-3">
                To learn more about how Spotify collects, uses, shares and protects your personal data please read
                Spotify's <span class="cgrnuln"> Privacy Policy. </span>
            </div>

            <button mat-flat-button class="signup-btn mb-4">
                SIGN UP
            </button>
            <p class="heading">
                Have an account? <a class="cgrnuln" routerLink = "/register/login">Log in.</a>
            </p>
        </div>
     </form>

    </div>


</div>